body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1rem;
    text-align: left;
}

form {
    margin: 2rem 0;
}

form label {
    display: block;
    margin: 0.5rem 0 0.25rem;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: darkred;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* .red {
    background-color: #ff4d4d;
}

.green {
    background-color: #4ad200;
}

.navy {
    background-color: #3d85c6;
} */

body {
    background: linear-gradient(to right, #ff4d4d, #4ad200, #3d85c6);
    height: 100vh; /* Ensures the gradient covers the full height of the viewport */
    margin: 0; /* Removes default margin */
}

